@use '../../styles/variables' as *;

.inputComponent {
	position: relative;
}

label {
	display: block;
	max-width: 284px;
	padding: 0 0 8px 16px;
	color: black;
	font-weight: $font-weight-semi-bold;
	font-size: $text-size-small;
	background-color: inherit;
}

input {
	max-width: 268px;
	padding: 23px 0 23px 16px;
	font-size: $amount-text-size;
	background-color: $bg-input;
	border: none;
	border-radius: 16px;
	outline: none;
}
