@use '../../styles/variables' as *;

.form {
	display: flex;
	gap: 20px;
	margin-block-end: 20px;
	background-color: $white;
	border-radius: 32px;

	&_input {
		padding: 28px 20px;
		color: $font-color;
		font-size: $main-text-size;
		background-color: $bg-input;
		border-radius: 16px;

		&::placeholder {
			color: $placeholder;
		}
	}
}

.form_from {
	padding: 100px 82px 100px 52px;
}

.form_to {
	padding: 100px 52px 100px 82px;
}

.label {
	position: absolute;
	top: 72px;
	padding-inline-start: 16px;
	font-weight: $font-weight-medium;
	font-size: $text-size-small;
}

.form_container {
	position: relative;
	display: flex;
	gap: 20px;
	margin-block-start: 105px;
}

.icon {
	position: absolute;
	top: 30%;
	left: 45.7%;
	cursor: pointer;

	&:hover {
		fill: $hover;
	}
}
